<div class = "footer" id="contact">
    <div>
      <h2>Know Us</h2>
      <a href="#">Director's Desk</a>
      <a href="#">How to Reach</a>
      <a href="#">NIRF</a>
      <a href="#">RTI</a>
      <a href="#">Organization Chart</a>
    </div>
    <div>
      <h2>Important Links</h2>
      <a href="#">BOG/FC/BWC Minutes</a>
      <a href="#">Senate Minutes</a>
      <a href="#">Annual Reports</a>
      <a href="#">Grievance Cell</a>
      <a href="#">NIT Act and Statutes</a>
    </div>
    <div>
      <h2>Extra Links</h2>
      <a href="#">Digital Map of NIT Patna</a>
      <a href="#">Terms of Use</a>
      <a href="#">Staff Claim Form</a>
      <a href="#">Faculty Login</a>
    </div>
    <div>
      <h2>Contact Us</h2>
     <p>National Institute of Technology Patna<br>Patna, Bihar (800005), India<br>Phone: +91-0612-237 1715/237 2715<br>FAX: +91-0612-2670631, 0812-2660480</p>
    </div>
  </div>
  <div class="credits">National Institute of Technology, Patna-800005, Bihar, INDIA <br>&copy; 2020 DevNet Labs, NIT Patna</div>
         
</body>
</html>
