


<br>
<div class="container footer">

  <div class="grid_25 row" id="footer">



  		<div class="grid_6 col" id="foot_div">
              <div class="foot_link">
              <p id="foot_title">Contact</p>
              <hr>
              <a>National Institute of Technology Patna</a><br/>
              <a>Patna, Bihar (800005), India</a><br/>
              <a>Phone: +91-0612-237 1715 / 237 2715</a><br/>
              <a>FAX : +91-0612-2670631 , 0612-2660480</a><br/>

              </div>
          </div>

          <div class="grid_4 col" id="foot_div">
              <div class="foot_link">
              <p id="foot_title">Know Us</p>
              <hr>
              <a href="./sitemap.php">Sitemap</a><br/>
              <a href="./dir_desk.php">Director's Desk</a><br/>
              <a href="howtoreach.php">How to Reach</a><br/>
  			<a href="./NIRF.php">NIRF</a><br/>
              <a href='./rti.php'>RTI</a><br/>
  			<a href="../uploads/ORG_CHART_NITP.pdf">Organization Chart</a>

              </div>
          </div>




          <div class="grid_4 col" id="foot_div">
              <div class='foot_link'>


                  <p id='foot_title'>Other Links</p>
                  <hr>

                  <a href='./implinks.php'>Important Links</a><br/>
                  <a href="./officeorder.php">BOG/FC/BWC Minutes</a>
                  <a href="./senatemins.php">Senate Minutes</a><br/>
  				<a href="./annual_report.php">Annual Reports</a><br/>
  				<a href="./downloads/Grievance Cell Constituted by Council of NITs.pdf">Grievance Cell </a><br/>
  				<a href="./nit_act.php">NIT Act and Statutes</a><br/>

              </div>
          </div>

  		 <div class="grid_4 col" id="foot_div">
              <div class='foot_link'>


                  <p id='foot_title'>Extra Links</p>
                  <hr>
              <a href="img/digitalmap.jpg" target="_blank">Digital Map of NIT Patna</a><br/>
                  <a href='./privacy.php'>Privacy Policy</a><br/>
                <a href='./refund-policy.php'>Refund Rules</a><br/>
                 <a href='./termsofuse.php'>Terms of Use</a><br/>
  			   <a href='./staffclaim_form.php'>Staff Claim Form</a><br/>
  			   <a href='addprofile.php'>Faculty Login</a><br/>

              </div>
          </div>
          </div>

          <div class="grid_3" id="social">
              <a href="http://www.facebook.com/nitpatnaofficial" target="_blank"><div id="fb"></div></a>
              <a href="https://plus.google.com/communities/101561880444961186830" target="_blank"><div id="gplus"></div></a>
          </div>
          <div class='grid_25'>
              <hr>
              <p id='web'>National Institute of Technology,Patna-800005,Bihar,INDIA<br/>
              <a href='./webteam.php' id='webteam'>&copy; 2015 NIT Patna</a></p>
          </div>



</div>











</body>

</html>
