<%- include('partials/header') %>


    <div class="ui container">
    <h6>Admin Dashboard</h6>
    <h3>Welcome <%= name %> </h3>
    <p>Here is book database</p>
    <li class="ui list">
    <% for(var i=0; i < files.length; i++) { %>
        <ol><%=files[i].filename %> </ol>
        <% } %>
    </li>
    </div>
    
    <div class="ui two column centered grid">
        <div class="column"></div>
    <div class="ui four column centered row">
    <a class="column ui inverted yellow button" href="/logout" role="button">Logout</a>
    <a class="column ui inverted purple button" href="/registerBook" role="button">Add Book</a> 
    </div>
    </div>
</div>


<%- include('partials/footer') %>