<%- include('partials/header') %>
<body>
  <nav class="navbar navbar-light bg-ligit nav-color">
    <a class="navbar-brand" href="#">
      <img src="/logo.png" width="90" height="90" class="d-inline-block align-top" alt="">
      <h1 style="display:inline;">National Institue Of Technology,Patna</h1>
    </a>
  </nav>
  <br><br>

  <h6>Dashboard</h6>
  <h3>Welcome Guest</h3>
  <p>Here are your Books</p>
</body>

<%- include('partials/footer') %>
