<%- include('partials/header') %>




<body class="home-body">

  <nav class="navbar navbar-light bg-ligit nav-color">
    <a class="navbar-brand" href="#">
      <img src="/logo.png" width="90" height="90" class="d-inline-block align-top" alt="">
      <h1 style="display:inline;">National Institue Of Technology,Patna</h1>
    </a>
  </nav>
  <br><br>

  <h3>Who are we?</h3>
  <p>We are your helping tool to manage what you read and where to find books in library.<br>You often want to check the availability of some books in our library and for that you have to miss our labs and lectures.<br>And waste your time if that book isn't available.</p>
  <br>
  <hr>
  <br>
  <h4>What we do?</h4>
  <p>We know which books are present in library and where they will be found.<br>And want to help you in saving your time.</p>
  <br>
  <hr>
  <br>
  <h4>What you can do?</h4>
  <p>Just sign up with your NITP domain.<br>That's all.</p>
  <br>





    <a class="btn btn-primary" href="/register" role="button">Sign Up</a>

    <a class="btn btn-primary" href="/login" role="button">Sign In</a>


</body>



<%- include('partials/footer') %>
