<%- include('partials/header') %>

    <div class="container-front">
      <!--bgcolor #b500ff-->
      <div class="login-text">
        <p>Welcome Student!</p>
        <a href="/login" role="button" class="large ui  primary button">Sign In</a>
        <a href="/register" role="button" class="large ui teal button">Register</a>
      </div>
  </div>
  <br><br><br>
  <div class="info-container" id="about">
    <div id = "order-1" class="info-box">
      <img src="/1.png" alt="">
    </div>
    <div id = "order-2" class="info-box info-text-box info-upper-box">
      <h2>Searching books made easy</h2>
      <p>Search for a book by the Author name, Book Title, Subject and know in real time whether the book is available in the library or not.</p>
    </div>
    <div id = "order-4" class="info-box info-text-box info-mid-box">
      <h2>Save time</h2>
      <p>Ever wasted an hour or two searching a book in the library and ended up returning empty handed? Now you can instantly know whether the book you want is available in the library or not real fast using the website so visit the library only if your desired book is present there.</p>
    </div>
    <div id = "order-3" class="info-box">
      <img src="/2.jpg" alt="">
    </div>
    <div id = "order-5" class="info-box">
      <img src="/3.jpg" alt="">
    </div>
    <div id = "order-6" class="info-box info-text-box info-lower-box">
      <h2>Never miss the deadlines</h2>
      <p>Ever forgot to return a book before the due date? It happens, but now no more. Now you can know the number of books you have issued from the library, the due dates of returning the books and also the due fine.</p>
    </div>
  </div>

<%- include('partials/footer') %>
