<%- include('partials/header') %>


  <h2 style="text-align:center">Sign In</h2>
  <br><br>
<div class="ui container">
  <div class="ui form container-md register-block">
    <form action="/login" method="POST">
        <div class="form-group field">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group field">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <div class="ui buttons six column centered row">
        <button type="submit" class="column large ui inverted primary button">Login</button>
          <div class="or"></div>
          <a class="column large ui inverted yellow button" href="/forgot" role="button">Forgot Password</a>
          <div class="or"></div>
          <a class="column large ui inverted green button" href="/register" role="button">Register</a>
        </div>
    </form>
  </div>
</div>


<%- include('partials/footer') %>
