p{
    margin:10px 0 !important;
}

.login-container{
    width: 400px;
    margin-top:50px;
    text-align: center;
}

.fa-small{
    font-size:16px !important;
}

.btn-float{
    float: left;
    margin-right: 10px;
}

.img-small{
    width: 180px;
}
h1{
  font-size: 50px;
  margin-left: 5%;
}
.nav-color{
  background-color: #6ebfb5;
}

hr {
  width: 8%;
  border-top-style: dotted;
  border-width: 12px;
  height: 0;
  margin : 0 auto;
  border-color: #c22828;
}
.home-body{
  margin:0% 5% 5%;
  background: #cffffe;
  text-align: center;
}
.register-body{
  margin:0% 5% 5%;
  background: #cffffe;
  text-align: left;
}

.btn {
  background: #4419d1;
  background-image: -webkit-linear-gradient(top, #4419d1, #85ceed);
  background-image: -moz-linear-gradient(top, #4419d1, #85ceed);
  background-image: -ms-linear-gradient(top, #4419d1, #85ceed);
  background-image: -o-linear-gradient(top, #4419d1, #85ceed);
  background-image: linear-gradient(to bottom, #4419d1, #85ceed);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: Arial;
  color: #ffffff;
  font-size: 26px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}


.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.register-block{
  margin:0% 10% 10%;
}

.center{
  margin: 0% 50% 50%;
}

/* Styles for wrapping the search box */

.main {
    width: 50%;
    margin: 50px auto;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope="col"] {
    background-color: #696969;
    color: #fff;
}

th[scope="row"] {
    background-color: #d7d9f2;
}

caption {
    padding: 10px;
    caption-side: top;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 21px;
    margin:10px;
}
